{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card border-0 shadow rounded-4 p-4">
        <h2 class="text-success fw-bold">About MediCare Plus</h2>
        <p class="text-muted">
            MediCare Plus is a Django-based Doctor Finder project created for Python DB and Framework assignment.
            It helps users view doctors, book appointments, login, and make payment using Razorpay test mode.
        </p>
        <p class="text-muted mb-0">
            This project uses Django MVT architecture, Bootstrap UI, database models, ORM CRUD, admin customization, authentication, AJAX, and maps.
        </p>
    </div>
</div>
{% endblock %}
