{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card border-0 shadow rounded-4 p-4 mx-auto" style="max-width:700px;">
        <h2 class="text-success fw-bold">Edit Doctor</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="name" value="{{ doctor.name }}" class="form-control mb-3">
            <input type="text" name="speciality" value="{{ doctor.speciality }}" class="form-control mb-3">
            <input type="text" name="experience" value="{{ doctor.experience }}" class="form-control mb-3">
            <input type="number" name="fees" value="{{ doctor.fees }}" class="form-control mb-3">
            <input type="text" name="availability" value="{{ doctor.availability }}" class="form-control mb-3">
            <input type="file" name="image" class="form-control mb-3">
            <button class="btn btn-warning rounded-pill px-4">Update Doctor</button>
        </form>
    </div>
</div>
{% endblock %}
