{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card border-0 shadow-lg rounded-4 p-4 mx-auto" style="max-width:450px;">
        <h2 class="text-success fw-bold text-center">Signup</h2>
        {% if msg %}<div class="alert alert-success">{{ msg }}</div>{% endif %}
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" class="form-control mb-3" placeholder="Username">
            <input type="email" name="email" class="form-control mb-3" placeholder="Email">
            <input type="password" name="password" class="form-control mb-3" placeholder="Password">
            <button class="btn btn-success w-100 rounded-pill">Signup</button>
        </form>
    </div>
</div>
{% endblock %}
